<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<h3> Book </h3>

<form class="d-flex"  >
    <input class="form-control me-2" name="name" type="search" placeholder="Search" aria-label="Search">
    <button type="submit" value="save" >search</button>
</form>
<table class="table table-dark table-striped"  >
    <thead>
    <tr>
        <th>STT</th>
        <th>Name Book</th>
        <th>Author</th>
        <th>Amount</th>
        <th>View</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,rowStart : ${bookList}">
        <td th:text="${rowStart.count}" ></td>
        <td th:text="${blog.name}" ></td>
        <td th:text="${blog.author}" ></td>
        <td th:text="${blog.amount}" ></td>
        <td ><a th:href="@{/{id}-view(id=${blog.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>