<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song List</title>
</head>
<body>
<h3>Song list</h3>

<a th:href="@{/song/create}">Add new Song</a><br>

<!--<p style="color: green" th:text="${mess}"></p>-->

<table border="1" cellpadding="10">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Category</th>
        <th>File</th>
    </tr>

    <tr th:each="song, status : ${songList}">
        <td th:text="${status.count}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.category}"></td>
        <td th:text="${song.file}"></td>
    </tr>
</table>
</body>
</html>