<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<h3> Customers </h3>
<p>
    <a th:href="@{customer/create}">Add new Customer</a>
</p>

<table class="table table-dark table-striped" id="customers" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStart : ${customerList}">

        <td th:text="${row.getName()}" ></td>
        <td th:text="${row.getEmail()}" ></td>
        <td th:text="${row.getAddress()}" ></td>
        <td><a th:href="@{/customer/{id}/edit(id=${row.getId()})}">EDIT </a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${row.getId()})}">DELETE </a></td>
        <td><a th:href="@{/customer/{id}/view(id=${row.getId()})}">VIEW </a></td>

    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>